table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

input,
select {
    width: 90%;
    text-align: center;
}

button {
    margin-top: 10px;
}

#cy {
    position: relative;
    width: 95%;
    height: 90vh;
    margin: 20px 0px;
    display: block;
    z-index: 1;
    border: 1px solid #ddd;
}

#data-table-container {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}